<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Yum(me)</title>
    {{!-- Bootstrap Links --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet">

    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{!-- CSS Styling Sheet --}}
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    {{!-- jQuery Link --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Firebase Link --}}
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    {{!-- Javascript Link --}}
    <script src="/js/app.js"></script>
    
</head>

<body>

    {{{ body }}}

    <div class="home-page-text-container">
        <div id="nav-container">
            <div class="container fixed-top">
                <div>
                    <ul class="nav-left">
                        <li class="nav-item">
                            <a id="home" class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="search" class="nav-link" href="#">Search</a>
                        </li>
                        <li class="nav-item">
                            <a id="saved" class="nav-link" href="#">Saved</a>
                        </li>
                        <li class="nav-item">
                            <a id="logout" class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                    <span>
                        <ul class="nav-right">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div id="main-card">
            <div id="main-card-styling">
                <div id="login-card" class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title">Yum(Me)!</h2>
                        <h4 class="card-text">It's what you make it!</h4>
                        <a href="#" id="login" class="btn btn-info">Login</a>
                        <a href="#" id="sign-up" class="btn btn-info">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="footer-text">Copyright ©</div>
        </footer>
    </div>

</body>

</html>
