<div id="about-page-container" class="container">
    <div id="about-div">
    <h3 id="about-header">About Yum(Me)</h3>
    <p id="about-text">
        Tired of wondering what to make for dinner tonight? Enter Yum(Me)—your personal recipe search engine that provides convenient, east-to-make recipes, perfect for weeknight dinners or weeklong meal prep. Sign up or login to search for recipes, save to your favorites, and leave personalized notes to make each recipe your own.

        There has never been an easier way to make use of that leftover rice or half-eaten steak. Unconvinced? Try it for yourself.
    </p>
    </div>

    <div id="creators">
        <h3 id="creators-header">The Creators</h3>
        <div class="row">
            <div class="col text-center">
                <img src="https://via.placeholder.com/150" id="Hanna" class="creator-img">
                <p class="img-text">Hanna</p>
            </div>
            <div class="col text-center">
                <img src="https://via.placeholder.com/150" id="Nate" class="creator-img">
                <p class="img-text">Nate</p>
            </div>
            <div class="col text-center">
                <img src="https://via.placeholder.com/150" id="Mike" class="creator-img">
                <p class="img-text">Mike</p>
            </div>
            <div class="col text-center">
                <img src="https://via.placeholder.com/150" id="Jenn"class="creator-img">
                <p class="img-text">Jenn</p>
            </div>
        </div>
    </div>
</div>