<div id="about-page-container" class="container">
    <div id="about-div">
        <h3 id="about-header">About Yum(Me)</h3>
        <div id="about-text">
            <p>
                Are you tired of googling or searching through your bookmarked pages to find that one recipe you loved, or remembering what changes you had made that took it to the next level? Or are you tired of printing your favorite recipes only to have to deal with ads and blog posts constantly making you scroll up and down the page to figure out what the hell to do next!? 
            </p>
            <p>   
                Sign up or login to <em><strong>Yum(me)!</strong></em> to not only search for recipes but save them to your favorites. Once saved, all recipe information will be nicely and neatly displayed as if in your own personalized cookbook. Furthermore, revise the ingredient and instructions, or leave personalized notes to make each recipe your own, or just add your own recipe!
            </p> 
            <p>
                Welcome to your new-age, personalized cookbook. Unconvinced? Try it for yourself.
            </p>
        </div>
    </div>

    <div id="creators">
        <h3 id="creators-header">The Creators</h3>
        <div class="row">
            <div class="col text-center">
                <img src="../images/2Ga94T_H_400x400.jpg" id="Hanna" class="creator-img">
                <p class="img-text">Hanna</p>
            </div>
            <div class="col text-center">
                <img src="../images/prison mike.jpg" id="Nate" class="creator-img">
                <p class="img-text">Nate</p>
            </div>
            <div class="col text-center">
                <img src="../images/flat,550x550,075,f.u2.jpg" id="Mike" class="creator-img">
                <p class="img-text">Mike</p>
            </div>
            <div class="col text-center">
                <img src="../images/mk.jpg" id="Jenn"class="creator-img">
                <p class="img-text">Jenn</p>
            </div>
        </div>
    </div>
</div>