<div id="about-us">
    <h3 id="about-us-header">About Yum(Me)</h3>
    <p id="about-us-text">
        Tired of wondering what to make for dinner tonight? Enter Yum(Me)—your personal recipe search engine that provides convenient, east-to-make recipes, perfect for weeknight dinners or weeklong meal prep. Sign up or login to search for convenient recipes, save your favorites, leave personalized notes to your 

        There has never been an easier way to make use of that leftover rice or half-eaten steak. Unconvinced? Download it now, and try it for yourself.
    </p>
</div>