{{!-- HEADING/QUOTE CARD --}}
<div class="container profile-container">
    <div class="card">
        <div class="card-header card-header-style">
            Create Your Own Recipe!
        </div>
        <div class="card-body quote-body">
            <blockquote class="blockquote mb-0 quote-styling">
                <p>“To practice any art, no matter how well or badly, is a way to make your soul grow. So do it."</p>
                <footer class="blockquote-footer quote-footer">Kurt Vonnegut</footer>
            </blockquote>
        </div>

        {{!-- Placeholders for Recipe Favorites/Search Results--}}
        <div class="container" id="create-recipe-form">
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Recipe Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Grandma's Pecan Pie" required>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Image Link</label>
                    <input type="text" id="photo" class="form-control">
                </div>
                {{!-- Add Measurements & Ingredients Div --}}
                <div class="container" id="ingredient-div">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Measurement</label>
                                <input name="measurements[]" type="text" class="form-control" placeholder="1 cup">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Ingredient</label>
                                <input name="ingredients[]" type="text" class="form-control" placeholder="Pecans">
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-sm" id="add-ingredient">&#43;</button>
                        </div>
                    </div>
                </div>
                <div class="container" id="instruction-div">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Instructions</label>
                                <input name="instructions[]" type="text" class="form-control" placeholder="1. Roughly chop the pecans">
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-sm" id="add-instruction">&#43;</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Comments</label>
                    <input type="text" class="form-control" id="comments" placeholder="Use large eggs, not extra large or the pie will be runny; small eggs are not enough.">
                </div>
                <button type="button" class="btn login-buttons" id="create-recipe-button">Save</button>
            </form>
        </div>
        <footer id="create-recipe-footer">

        </footer>
    </div>
</div>