{{!-- VIEW FULL RECIPE MODAL --}}
<div class="modal fade" id="viewFull" tabindex="-1" role="dialog" aria-labelledby="viewFullLabel" aria-hidden="true">
    <div class="modal-dialog modal-body" id="view-full-body" role="document">
        <div class="modal-content" id="view-full-content">
            <div class="container-fluid">
                <div class="row" id="full-view-heading">
                    <h1>'Recipe Name'</h1>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="row" id="full-view-img-row">
                            {{!-- placeholder img --}}
                            <img src="https://images.pexels.com/photos/890450/pexels-photo-890450.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                alt="chocolate raspberry pudding" id="full-view-image">
                        </div>
                        <div class="row">
                            {{!-- placeholder ingredients --}}
                            <div class="col" id="full-view-ingredient-col">
                                <div class="row">
                                    <h6>Ingredients</h6>
                                </div>
                                <div class="row">
                                    <ul>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                        <li>Ingredient Name</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{!-- instructions --}}
                            <h6>Instructions</h6>
                            <ol>
                                <li>
                                    Lorem ipsum dolor amet craft beer plaid meh tilde hexagon offal.
                                </li>
                                <li>
                                    Flexitarian hashtag subway tile readymade, brunch vice organic lumbersexual
                                    farm-to-table craft beer hammock cred swag butcher.
                                </li>
                                <li>
                                    Scenester DIY flannel taiyaki pok pok echo park. Fanny pack forage literally +1
                                    venmo photo booth woke semiotics fingerstache lomo distillery flexitarian taiyaki
                                    seitan gentrify.
                                </li>
                                <li>
                                    Scenester DIY flannel taiyaki pok pok echo park.
                                </li>
                                <li>
                                    Umami keffiyeh iceland cliche vegan neutra fixie gluten-free kinfolk.
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            {{!-- comments --}}
                            <h6>Comments</h6>
                            <p>
                                Lorem ipsum dolor amet craft beer plaid meh tilde hexagon offal. Flexitarian hashtag
                                subway tile readymade, brunch vice organic lumbersexual farm-to-table craft beer
                                hammock cred swag butcher. Scenester DIY flannel taiyaki pok pok echo park. Fanny pack
                                forage literally +1 venmo photo booth woke semiotics fingerstache lomo distillery
                                flexitarian taiyaki seitan gentrify.
                            </p>
                            <p>
                                Umami keffiyeh iceland cliche vegan neutra fixie gluten-free kinfolk. Meditation DIY
                                selfies, tattooed keffiyeh helvetica subway tile try-hard pour-over kinfolk gochujang
                                chicharrones. Enamel pin PBR&B semiotics kogi lyft mustache readymade, salvia
                                biodiesel. Pabst sartorial distillery, PBR&B banh mi freegan master cleanse la croix.
                                Mlkshk vape taxidermy authentic readymade fingerstache. Selvage forage venmo 90's,
                                pinterest bushwick austin bitters gluten-free.
                            </p>
                            <p>
                                Jianbing umami edison bulb put a bird on it locavore. Tattooed green juice skateboard
                                affogato woke, echo park hella austin lo-fi synth poutine thundercats helvetica squid.
                                Small batch migas hexagon meggings forage asymmetrical. Artisan succulents knausgaard
                                shoreditch vice snackwave mustache.
                            </p>
                            <p>
                                Oh. You need a little dummy text for your mockup? How quaint.
                            </p>
                            <p>
                                I bet you’re still using Bootstrap too…
                            </p>
                        </div>
                        <div class="row">
                            <div class="col" id="update-recipe-button-col">
                                <div class="row">
                                    <h6><em>Make it your own!</em></h6>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-sm modify-recipe-button" class="">Update
                                        Instructions</button>
                                    <button type="button" class="btn btn-sm modify-recipe-button" class="">Update
                                        Ingredients</button>
                                    <button type="button" class="btn btn-sm modify-recipe-button" class="">Add Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- HEADING/QUOTE CARD --}}
<div class="card">
    <div class="card-header card-header-style">
        My Favorite Recipes
    </div>
    <div class="card-body quote-body">
        <blockquote class="blockquote mb-0 quote-styling">
            <p>“People who love to eat are always the best people."</p>
            <footer class="blockquote-footer quote-footer">Julia Child</footer>
        </blockquote>
    </div>

    {{!-- Placeholders for Recipe Favorites/Search Results--}}
    <div class="recipe-results" id="favorite-recipes">
        {{!-- CARD A --}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/557659/pexels-photo-557659.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="acai bowl">
            <div class="card-body">
                <h5 class="card-title">'Recipe Name'</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link" data-toggle="modal" data-target="#viewFull">View Full</a><br>
                <a href="#" class="card-link">Edit/Comment</a><br>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        {{!-- CARD B --}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/161573/background-water-breakfast-bright-161573.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="acai bowl">
            <div class="card-body">
                <h5 class="card-title">'Recipe Name'</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link">View Full</a><br>
                <a href="#" class="card-link">Edit/Comment</a><br>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        {{!-- CARD C --}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/1265910/pexels-photo-1265910.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="acai bowl">
            <div class="card-body">
                <h5 class="card-title">'Recipe Name'</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link">View Full</a><br>
                <a href="#" class="card-link">Edit/Comment</a><br>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        {{!-- CARD D --}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/1586529/pexels-photo-1586529.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="acai bowl">
            <div class="card-body">
                <h5 class="card-title">'Recipe Name'</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link">View Full</a><br>
                <a href="#" class="card-link">Edit/Comment</a><br>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        {{!-- CARD E --}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/531650/pexels-photo-531650.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="acai bowl">
            <div class="card-body">
                <h5 class="card-title">'Recipe Name'</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link">View Full</a><br>
                <a href="#" class="card-link">Edit/Comment</a><br>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        {{!-- CARD F --}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="https://images.pexels.com/photos/532780/pexels-photo-532780.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="acai bowl">
            <div class="card-body">
                <h5 class="card-title">'Recipe Name'</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link">View Full</a><br>
                <a href="#" class="card-link">Edit/Comment</a><br>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
    </div>
</div>