<div class="container" id="home-container">
    <br>
    <br>
    <h1 class="header center teal-text text-lighten-2">Yum(Me)!</h1>
    <div class="row center">
        <h5 class="header col s12 light" id="ingredient-title">It's what you make it!</h5>
    </div>
    <br>
    <br>
</div>