{{!-- HEADING/QUOTE CARD --}}
<div class="container profile-container">
    <div class="card">
        <div class="card-header card-header-style">
            Explore Recipes!
            <div class="form-group">
                <input class="form-control" id="recipe-search" placeholder="What are ya feelin'?"></input>
                <button type="button" class="btn login-buttons" id="search-button">Search</button>
            </div>
        </div>
        <div class="card-body quote-body">
            <blockquote class="blockquote mb-0 quote-styling">
                <p>“Without experimentation, a willingness to ask questions and try new things, we shall surely become
                    static, repetitive, and moribund."</p>
                <footer class="blockquote-footer quote-footer">Anthony Bourdain</footer>
            </blockquote>
        </div>

        {{!-- Placeholders for Recipe Favorites/Search Results--}}
        <div class="recipe-results" id="favorite-recipes">
            <p>Sorry, no results!</p>
        </div>
    </div>
</div>