
<div class="row centered" id="profile-landing">
    <div class="column landing-column">
        <div class="row landing-row">
            <h2>Welcome, 'username'!</h2>
        </div>
        <div class="row landing-row">
            <button type="button" class="btn btn-info login-buttons">
                View Favorites
            </button>
            <button type="button" class="btn btn-info login-buttons">
                Explore Recipes
            </button>
        </div>
    </div>
</div>