body {
    background-image: url("../images/blueberries-clear-version.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    z-index: -1;
    font-family: 'Josefin Sans', sans-serif;
};

.container {
    z-index: 1;
    overflow: auto;
}

.profile-container {
    margin-bottom: 100px;
}

#nav-container, footer {
    font-family: 'Amatic SC', cursive;
    background-color: #efeaec99;
}

/* Nav Bar */

#nav-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 50px;
    box-shadow: 0 4px 8px 0 #7b66634a, 0 6px 20px 0 #7b66634a;
}

.nav-right {
    float: right;
}

.nav-left, .nav-right {
    padding: 0px;
    list-style: none;
    display: inline-flex;
    font-size: 20px;
}

.nav-link {
    color: #6CA4DC;
    font-weight: bold;
}

.nav-item > a:hover {
    color: #2F3F67;
}

.nav-item > a:active {
    
    color: #EFEAEC
}

/* About Page */


#about-page-container {
    margin-top: 75px;
}

#about-div {
    background-color: #efeaeca6;
    padding: 25px;
    box-shadow: 0 0 10px #7b666363;
}

#about-header, #about-text, #creators-header, #creators-text, .img-text {
    color: #2F3F67;
    text-align: center;
}

#creators-header {
    margin-bottom: 20px;
}

#creators {
    margin-top: 50px;
}

/* Home page view */
#home-container {
    text-align: center;
    color: #2F3F67;
    margin-top: 125px;
}

#home-title-style {
    font-size: 65px;
}

.h5.header {
    font-size: 45px;
}

/* Views: Login, Profile, Start-Search */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

.login-buttons {
    margin: 10px;
    background-color: #6CA4DC;
    color: white;

}

.landing-column {
    color: white;
    display: flex;
    flex-direction: column;
}

.landing-row {
    justify-content: center;
}

/* Modal Styling */

    /* Login Page */
    h5 {
        font-weight: bolder;
    }

    .modal-header, .modal-body {
        color: #2F3F67;
    }

    .home-buttons {
        background-color: #6CA4DC;
        color: white;
    }

    /* Create Own Recipe */

    #create-recipe {
        color:#6CA4DC
    }

    #create-recipe-footer {
        height: 2em;
        background-color:#2F3F67;
        opacity: 1;
        border-radius: 0rem 0rem 0.25rem 0.25rem;
    }

    #create-recipe-button {
        float: right
    }

    /* Full Recipe View */

    #view-full-quote {
        text-align: center;
        font-size: x-small;
    }

    #view-full-body {
        background-image: url("../images/orange-bottom-right.jpeg");
        max-width: 75%;
        border-radius: 15px;
        /* overflow: auto; */
     }

     #view-full-content {
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
        background-color: rgba(255, 255, 255, 0.6);
        height: 100%;
        padding: 20px;
    }

    #full-view-heading {
        display: flex;
        justify-content: center
    }
    
    #full-view-image {
        height: 250px;
        border-radius: 15px;
        border: 2px solid #EFEAEC;
        box-shadow: 0 4px 8px 0 #7b66634a, 0 6px 20px 0 #7b66634a;
    }

    #full-view-img-row {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .modify-recipe-button {
        background-color: #EFEAEC;
        margin: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #main-body-row {
        margin: 20px 0 20px 0;
    }

    h6 {
        font-weight: bolder
    }

    #full-view-comments-heading {
        margin: 0 0 0 10px;
    }

    #full-view-comments {
        min-height: 200px;
        max-height: 200px;
        overflow: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px 10px 0px 10px;
    }

    #full-view-ingredient-col {
        margin: 10px 4px 0px 20px;
    }

    #full-view-instructions-col {
        margin-top: 10px
    }

    .full-view-content-font {
        font-family: 'Bad Script', cursive;
    }

    #update-recipe-button-col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 9%;
    }

    .update-recipe-button-rows {
        justify-content: center
    }

    /* li {
        line-height: 1.6;
    } */
    
    .edit-input {
        padding: 0px 20px 0px 20px;
    }

    .inline-edit-styling {
        box-shadow: 1px 1px 20px #9099B3 inset;
        background-color: aliceblue;
        overflow: auto;
        max-height: 400px;

    }

    #recipe-results-footer {
        justify-content: flex-end;
        margin-right: 50px;
    }
    

/* Favorites and Search Results View */
#recipe-search {
    margin-top: 1rem
}

#search-button {
    float: right;
}

.card-header {
    background-color:#2F4069;
    color: whitesmoke
}

.card-header-style {
    font-size: 25px;
}

.quote-styling {
   color:  #7B6663;
}

.quote-footer {
    float: right;
    color:  #7B6663;
}

hr {
    margin: 10px;
}

.recipe-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.recipe-result-cards {
    margin: 5px;
    border: 2px solid #2F4069;
}


.card-img-top {
    height: 250px;
}

.card-body-links {
    text-align: center;
}
            
.card-body-links > a:hover {
    color: #2F4069;
}

.card-link, .card-title {
    color: #7B6663;
}

.card-title {
    text-decoration: underline;
    font-size: 20px;
}

.card-title {
    text-align: center;
}

/* Create Own Receipe */
#add-ingredient, #add-instruction {
    font-size: 2em;
    background-color: #6CA4DC;
    color: white;
    padding: 0px 7px;
    margin: 0px 0px 0px 3px;
    width: 100%;
}

#add-ingredient:hover,
#add-instruction:hover,
#create-recipe-button:hover
 {
     color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #2F3F67;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
