/* .parallax {
    background-image: url("../images/blueberries-background.jpeg"); */
 /* Set a specific height */
 /* height: 500px;  */

 /* Create the parallax scrolling effect */
 /* background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
} */

body {
    background-image: url("../images/blueberries-background.jpeg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    z-index: -1;
    font-family: 'Josefin Sans', sans-serif;
};

.container {
    z-index: 1;
    overflow: auto;
}

#nav-container, footer {
    font-family: 'Amatic SC', cursive;
    background-color: #EFEAEC;
    opacity: 0.6;
}

/* Nav Bar */

#nav-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-right {
    float: right;
}

.nav-left, .nav-right {
    padding: 0px;
    list-style: none;
    display: inline-flex;
    font-size: 20px;
}

.nav-link {
    color: #6CA4DC;
    font-weight: bold;
}

.nav-item > a:hover {
    color: #2F3F67;
}

.nav-item > a:active {
    
    color: #EFEAEC
}

/* Home page view */
#home-container {
    text-align: center;
    color: #2F3F67;
    margin-top: 125px;
}

#home-title-style {
    font-size: 65px;
}

.h5.header {
    font-size: 45px;
}

/* Views: Login, Profile, Start-Search */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

.login-buttons {
    margin: 10px;
    background-color: #6CA4DC;
    color: white;

}

.landing-column {
    color: white;
    display: flex;
    flex-direction: column;
}

.landing-row {
    justify-content: center;
}

/* Modal Styling */

h5 {
    font-weight: bolder;
}

.modal-header, .modal-body {
    color: #2F3F67;
}

.home-buttons {
    background-color: #6CA4DC;
    color: white;
}

/* Favorites and Search Results View */
.card-header {
    background-color:#2F4069;
    color: whitesmoke
}

#card-header-style {
    font-size: 25px;
}

#quote-styling, #quote-footer {
   color:  #7B6663;
}

#quote-footer {
    float: right;
}

hr {
    margin: 10px;
}

.recipe-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipe-result-cards {
    margin: 5px;
    border: 2px solid #2F4069;
}


.card-img-top {
    height: 250px;
}

.card-body-links {
    text-align: center;
}
            
.card-body-links > a:hover {
    color: #2F4069;
}

.card-link, .card-title {
    color: #7B6663;
}

.card-title {
    text-decoration: underline;
    font-size: 20px;
}

.card-title {
    text-align: center;
}

/* Logout Styling */

#logout-div {
    position: absolute;
    top: 79%;
    right: 4%;
}

#logout-greeting {
    color: #2F3F67;
    font-style: italic
}

#successful-logout {
    color: #9099B3
}

/* FOOTER */

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* background-color: #EFEAEC;
    opacity: 0.6; */
    padding: 10px;
    color: #6CA4DC;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
